:root {
  --glow-rgb: 239 42 201;
  /* --glow-rgb: 220 20 60;  */
  /* background-color: rgb(220, 20, 60); */
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  cursor: none;
}
@font-face {
  font-family: "libreitalic";
  src: url(fonts/LibreBaskerville-Italic\ copy.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  /* background-color: black; */
}
body:active #cursor {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  transform: translate(-50%, -50%);
}
#cursor {
  height: 28px;
  width: 28px;
  /* background-color: red; */
  background-image: url(/svg/onefinger2.svg);
  background-size: cover;
  pointer-events: none;
  position: fixed;
  z-index: 100;
}

.glow-point {
  position: absolute;
  /* box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb)); */
  box-shadow: 0rem 0rem 0.8rem 0.4rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: black;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}

#loader {
  width: 100%;
  height: 100vh;
  background-color: black;
  /* display: none; */
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  /* cursor: url(svg/onefinger2.svg); */
  /* background-image: url(svg/onefinger2.svg); */
  /* background-repeat: no-repeat; */
}
#loader .loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .loading-text h1 {
  font-size: 17vw;
  font-family: "libreitalic";
}
#loader .loading-text h1 span {
  /* display: inline-block; */
}
#loader .vertical {
  position: absolute;
  top: 100%;
  left: 25%;
}
#loader .vertical h1 {
  font-family: "libreitalic";
  font-size: 7.5vw;
}
#main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#container-first {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: rgb(249, 248, 236); */
}
#container-second {
  height: 100vh;
  width: 100%;
  position: relative;
  /* background-color: rgb(249, 248, 236); */
}
.construction {
  width: 100%;
  height: 100vh;
  background-color: rgb(35, 35, 31);
}
