:root {
  --glow-rgb: 239 42 201;
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  --prime: rgb(35, 35, 31);
  /* --glow-rgb: 220 20 60;  */
  /* background-color: rgb(220, 20, 60); */
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  cursor: none;
}
@font-face {
  font-family: "libreitalic";
  src: url(fonts/LibreBaskerville-Italic\ copy.ttf);
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(35, 35, 31);
}
body:active #cursor {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  transform: translate(-50%, -50%);
}
#cursor {
  height: 28px;
  width: 28px;
  /* background-color: red; */
  background-image: url(https://res.cloudinary.com/duxfpthxb/image/upload/v1730263508/onefinger2_lfvawf.svg);
  background-size: cover;
  pointer-events: none;
  position: fixed;
  z-index: 100;
}

.glow-point {
  position: absolute;
  /* box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb)); */
  box-shadow: 0rem 0rem 0.8rem 0.4rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: black;
  font-size: .5rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}

#loader {
  width: 100%;
  height: 100vh;
  background-color: var(--prime);
  color: white;
  position: fixed;
  top: 100;
  left: 0;
  z-index: 50;
}

#main {
  width: 100%;
  position: relative;
  overflow: hidden;
}


@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from, to {
    transform: scale(0);
  }
  
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(180deg);
  }
}



/* ------container first ------ */
#container-first {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: var(--prime);
  overflow: hidden;
  display: flex;
}

.first-left{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 3vw;
}
.first-left h2{
  position: relative;
  top: 2vw;
  font-size: 2.5vw;
  color: #91a3b0;
}
.first-left h3{
  position: relative;
  left: 20vw;
  font-size: 1.5vw;
  color: #91a3b0;
}
.first-left h3 span{
  font-size: 2.5vw;
}
.first-left .fo-hed{
  position: relative;
  width: fit-content;
  /* background: #000; */
} 
.first-left .fo-hed h1{
  font-size: 8vw;
  text-transform: uppercase;
}

.first-left .fo-hed h2{
  font-size: 8vw;
  text-transform: uppercase;
  /* position: absolute;
  left: 0px;
  top: 3vw; */
  /* line-height: 1; */
  /* position: absolute; */
  font-family: "silk-light";
}

.first-left .fo-hed h2 span {
  font-family: "silk-light";
  -webkit-text-stroke: 1px white;
  color: transparent;
  /* opacity: 0; */
}

.first-right{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.oval-shape1 {
  width: 500px;
  height: 500px;
  background: linear-gradient(#e5e5e5, #91a3b0);
  border-radius: 50%;
  animation-name: anime;
  animation-duration: 2s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  filter: blur(10px);
}
.oval-shape {
  width: 500px;
  height: 500px;
  /* background: linear-gradient(orange, orangered); */
  background: linear-gradient(#e5e5e5, #91a3b0);
  border-radius: 50%;
  animation-name: anime;
  animation-duration: 3s;
  position: absolute;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  filter: blur(10px);
}

@keyframes anime {
  from {
    transform: translate(-5%, -5%) skew(15deg) rotate(20deg);
  }
  to {
    transform: translate(5%, 5%) skew(-15deg) rotate(-20deg);
  }
}

/*! conatiner second */

#container-second{
  width: 100%;
  /* height: 100vh; */
  position: relative;
}
.cover{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 10vw;
}

.card-prod{
  width: 25%;
  height: 30vh;
  border-radius: 25px;
  background-color: green;
}
#container-third{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(255, 0, 0, 0.202);
}


@media (max-width: 767px) {
  #container-first {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--prime);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .first-left{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 3vw;
    /* background: green; */
  }
  .first-left h2{
    position: relative;
    top: 2vw;
    font-size: 5vw;
    color: #91a3b0;
  }
  .first-left h3{
    position: relative;
    left: 40vw;
    font-size: 4.5vw;
    color: #91a3b0;
  }
  .first-left h3 span{
    font-size: 6.5vw;
  }
  .first-left .fo-hed{
    position: relative;
    width: fit-content;
    /* background: #000; */
  } 

  .first-left .fo-hed h2{
    font-size: 18vw;
    text-transform: uppercase;
    /* position: absolute;
    left: 0px;
    top: 3vw; */
    /* line-height: 1; */
    /* position: absolute; */
    font-family: "silk-light";
  }
  
  .first-left .fo-hed h2 span {
    font-family: "silk-light";
    -webkit-text-stroke: 1px white;
    color: transparent;
    /* opacity: 0; */
  }
  
  .first-right{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  
  .oval-shape1 {
    width: 500px;
    height: 500px;
    background: linear-gradient(#e5e5e5, #91a3b0);
    border-radius: 50%;
    animation-name: anime;
    animation-duration: 2s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(10px);
  }
  .oval-shape {
    width: 500px;
    height: 500px;
    /* background: linear-gradient(orange, orangered); */
    background: linear-gradient(#e5e5e5, #91a3b0);
    border-radius: 50%;
    animation-name: anime;
    animation-duration: 3s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    filter: blur(10px);
  } 
}